<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base111.basis">

    <application
        android:allowBackup="true"
        android:icon="@drawable/basis_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicActivity"
            android:label="@string/basic"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MathActivity"
            android:label="@string/mathact"
            android:parentActivityName=".BasicActivity" />
        <activity
            android:name=".AboutMain"
            android:label="@string/main_about"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MathQuiz"
            android:label="@string/math_quiz"
            android:parentActivityName=".MathActivity"></activity>
    </application>

</manifest>